[Desktop Entry]
Version=1.0
Type=Application
Name=Тикетик
GenericName=Система заявок
Comment=Быстрая отправка заявок в техподдержку
Exec=ticketik_app %U
Icon=ticketik
Categories=Utility;
Keywords=техподдержка;заявки;тикет;
StartupNotify=true
MimeType=x-scheme-handler/ticketik;
