[Desktop Entry]
Version=0.8.5
Type=Application
Name=Тикетик
GenericName=Система заявок
Comment=Быстрая отправка заявок в техподдержку
Exec=ticketik %U
Icon=ticketik
Categories=Utility;
Keywords=техподдержка;заявки;тикет;
StartupNotify=true
MimeType=x-scheme-handler/ticketik;
